pydantic_openapi_helper==0.2.4
coverage==5.3.1
coveralls==2.2.0
pytest==6.2.2
pytest-cov==2.11.1
attrs~=20.3.0
Sphinx==3.4.3
sphinx-bootstrap-theme==0.7.1
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-websupport==1.2.4
sphinx-click==2.5.0
recommonmark==0.7.1
twine==3.3.0
click>=7.0
click-plugins==1.1.1
importlib-metadata==3.4.0
wheel==0.36.2
setuptools==52.0.0
