coverage==5.3
coveralls==2.1.2
pytest==6.1.1
pytest-cov==2.10.1
attrs~=20.2.0
Sphinx==3.2.1
sphinx-bootstrap-theme==0.7.1
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-websupport==1.2.4
sphinx-click==2.5.0
recommonmark==0.6.0
twine==3.2.0
click>=7.0
click-plugins==1.1.1